{% extends "base.html" %}
{% block title %}Welcome{% endblock title %}
{% block headingcontent %}<h1>Welcome</h1>{% endblock headingcontent %}
{% block maincontent %}
    {% if events.count > 0 %}
        <h2>Events:</h2>
        <ul class="thumbnails" style="padding:30px;">
            {% for event in events %}
            <li class="span4">
                <img src="/media/{{ event.location.icon_file }}" alt="{{ event.location }} Icon" />
                <h3>{{ event.event_title }}</h3>
                <p>{{ event.event_subtitle }}</p>
                <p>Event Location: {{ event.location.location_name }}</p>
                <p>Time: {{ event.start_date|date:"D, M d fa" }} - {{ event.end_date|date:"fa" }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>No Events Defined</h2>
        <p>To add an event, click here: <a href="/admin/">Admin Panel</a></p>
    {% endif %}
{% endblock maincontent %}
{% block footingcontent %}{% endblock footingcontent %}